body {
    /* background-image: url(../../assets/img/abst.png); */
    background-size: cover;
}

.formContainer {
    /* background-color: #0442fa7f; */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    padding: 20px;
    width: 50vw;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    color: black;
}

.formContainer label {
    color: white;
}

.registerForm {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px 35px;
    padding: 20px;
}

.registerForm div {
    display: flex;
    flex-direction: column;
}


.registerForm label {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.registerForm input, 
.registerForm select {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    width: 100%; 
}

.registerForm input:focus, 
.registerForm select:focus {
    border-color: #007bff;
    outline: none;
}

#registerBtn{
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toast {
    position: fixed;
    top: 7%; /* Position at the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for the width of the toast */
    background-color: #28a745; /* Green background */
    color: white;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.5s;
  }
  


@media (max-width: 768px) {
    .formContainer {
        width: 90vw; 
    }

    .registerForm {
        grid-template-columns: 1fr; 
    }
}
